*{margin:0;padding:0}
body{font-family:Arial;font-size:14px;line-height:20px;background:#ffffff; overflow: hidden; height: 100%; width: 100%;}
a{text-decoration:none;outline:none;color:#fff}
a:hover,a:focus;a:active{text-decoration:none;outline:none;color:#000}

h1,h2,h3,h4,h5,h6{font-weight:normal;margin:0 3px 10px; float: left;}
h2 {font-size:25px;line-height:30px}
.column{width:1050px;display:block;margin:0 auto}

/*Hheader*/
.fix{overflow:hidden}
img{max-width:55%; height:auto; border-radius: 5px;margin-left: 22.3%;margin-right:22.3%;}
/*Hheader*/

/*MENU*/
.menu{max-width:100%; background-color: #FFFFFF; border-radius: 5px; min-height:2%;}

#nav {margin:0%; padding:4% 0% 0% 5%; list-style:none; overflow: hidden;}
#nav li{max-height: inherit; max-width: 100%; float: left; padding: 0% 5% 0% 5%;}
#nav li a{color: #2574B0;
display: block;
font-size: 23px;
font-weight: bold;
text-align: center;
padding: 2% 0% 2% 0%;}

#nav li a:hover{opacity: 0.5;
filter: alpha(opacity=50);
transition: all 300ms ease 0s;-moz-transition: all 300ms ease 0s;-webkit-transition: all 300ms ease 0s;-o-transition: all 300ms ease 0s;-ms-transition: all 300ms ease 0s;}
#nav ul{position:absolute;margin:0;padding:0;list-style:none;top:45px;z-index:99999;left:-99999px}
#nav li:hover ul{left:0px;}
#selectnav1{display:none;}
/*MENU*/



/* Cajas video */
.single_cat_left_container .single_cat_left h2 a{color:#000}
.single_cat_left h2 a,.single_cat_horizontal h2 a{color: #fff;
display: block;
float: right;
font-size: 12px;}
.single_cat_left h2 a:hover,.single_cat_horizontal h2 a:hover{text-decoration:underline;}
.single_cat_container{margin-left:-10px;}
.single_cat{background: none repeat scroll 0 0 #fff;  
border-radius: 3px;
float: left;
margin-bottom: 10px;
margin-left: 39px;
min-height: 225px;
width: 158px;
position:relative}




.play-small{background: url("images/32x32-gray.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
height: 32px;
position: absolute;
width: 32px;
top: 23%;
left: 41%;
opacity:0.6}
.single_cat img{width: 158px;}
.single_cat_meta{background: none repeat scroll 0 0 #222222;
color: #FFFFFF;
font-size: 10px;
padding: 7px 5px;}
.single_cat_meta > a{color: #FAB002;
display: block;
font-weight: bold;
object-position: center;}
.single_cat_meta p:last-child{color: #dddddd;}
.single_cat_rating{padding: 5px;}
.single_cat_rating span{color: #FFFFFF;
display: block;
float: left;
font-size: 10px;}
.single_cat_star{float: right;
margin-top: 3px;}
.single_cat_star a{background: url("images/star-full-orange-small.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
display: block;
float: left;
padding: 8px;}
.single_cat_horizontal{clear: both;margin-left:20px;}
.single_cat_horizontal h2{}
.single_cat_horizontal_container{margin-left: -10px;}
.single_cat_horizontal_container .single_cat{min-height: 264px;width: 202px;}
.single_cat_horizontal_container .single_cat img{width: 202px;}
.single_cat_horizontal_container .single_cat .single_cat_rating{background: none repeat scroll 0 0 #000000;padding: 5px;}
.single_cat_horizontal_container .single_cat .single_cat_meta{background: none repeat scroll 0 0 #444444;}
.single_cat_horizontal_container .single_cat .single_cat_meta > a{font-size:12px;}
.category{background: none repeat scroll 0 0 #000000;
border-radius: 5px;}
.category h2{border-radius:5px 5px 0px 0px !important;}
.category a{color: #F8AE01;
display: block;
float: left;
padding: 10px 24px;
text-align: center;}
.category a:hover{text-decoration:underline;}
.footer_area {}
.footer_area ul{list-style: none outside none;
margin: 0;
padding: 0;
text-align: center;}
.footer_area ul li{display: inline;}
.footer_area ul li a{color: #000;
display: inline-block;
font-weight: bold;
padding: 10px 15px;}
.footer_area ul li a:hover{text-decoration:underline;}

/* blog page style 

Main DIV

*/

.blog_feature_area{margin: 10px 0 0 0%;}
.blog_feature{}
.feature_videos{
    background: none repeat scroll 0 0 #ffffff; 
    border-radius: 5px; 
    width: 100%;

}
.feature_videos h2{border-radius:5px 5px 0px 0px !important;}
.feature_video_container{}

/*video cover*/

.feature_video_container .single_cat{width: 100%;min-height: 80%; margin-left: auto;}
.feature_video_container .single_cat .single_cat_meta a{font-size:13px;}
.feature_video_container .single_cat img{width: 100%;}

.feature_right_add{
    background: none repeat scroll 0 0 #fff;
    height: 600px;padding: 0px; 
    width: 100%;
    border-radius:5px;
    position:relative;}
.feature_right_add h2{border-radius:5px 5px 0 0;width:100%;margin-left:-10px;margin-top:-10px;}


.feature_bottom_add{background: none repeat scroll 0 0 #000000;border-radius:5px;height: 90px;width: 100%;}
/*.single_feature_right_add{margin-bottom:7px;background:#000000; border-radius: 5px;height:280px;}*/
.blog_bottom{padding: 10px;}
.blog_bottom_add{background: none repeat scroll 0 0 #000;
height: 300px;
margin: 0 auto;
width: 900px;border-radius:5px;}
.pagination{width:35%;margin:10px auto;}
.pagination a{background: none repeat scroll 0 0 #F8AE01;
border-radius: 2px;
display: block;
float: left;
font-size: 18px;
font-weight: bold;
margin-right: 5px;
padding: 5px 10px;}
.pagination a:hover,.pagination a:active{background:#000;color:#F8AE01;}

/* single page style */
.player_bottom_add{height:156px;width: 100%;margin-top: 10px;background: #333;text-align:center;}
.feature_videos iframe{width:115%; height: 200px;}
.title{background: none repeat scroll 0 0 #333333;}
.title h3{color: #FFFFFF;float: left;margin-top: 15px;padding: 10px;}
.title h3 span{color: #CF0000;font-family: arial;font-size: 13px;padding-left: 10px;display: block;float: right;}
.title .video_rating{float: right;padding: 10px;}
.title .video_rating p{color: #CF0000;font-size: 18px;text-align: center;}
.title .video_rating a{display:block;padding:15px;background:url(images/star-yellow.png) no-repeat;float:left;}
.page_content{padding:30px;}
.page_content h3,h4,h5,h6{color: #FFFFFF;font-size: 14px;}
.page_content p{color: #999999;
font-size: 16px;
line-height: 22px;
margin-left: 30px;
margin-bottom: 25px;}

/* archieve page style */
.archieve_page_top_addbar{margin:20px 0;}
.single_archieve_top_addbar_container{margin-left:-20px;}
.single_archieve_top_addbar{background: none repeat scroll 0 0 #000000;float: left;height: 280px;margin-left: 20px;width: 323px;padding: 10px;}

.page_content p{font-size:120px;line-height:120px;text-align:center;font-family:bebasregular;}
.page_content p span{font-size:80px;display:block;}


.single_feature_right_add{
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}